@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --main-color-white: #f4f4f4;
    --main-color-black: #111111;
    --color-gray: #464646;
    --main-font: "Manrope", sans-serif;
}

.text-white {
    color: var(--main-color-white);
}

.text-dark {
    color: var(--main-color-black);
}