@import '../../global/global.module.css';

.header {
    background-color: var(--main-color-black);
    height: 10vh;
}

.logo {
    font-size: 4rem;
    color: var(--main-color-white);
}

.font {
    font-family: var(--main-font);
    color: var(--main-color-white);
}