@import '../../global/global.module.css';

.header {
    background-color: var(--main-color-black);
    height: 10vh;
}

.logo {
    font-size: 4rem;
    color: var(--main-color-white);
}

.font {
    font-family: var(--main-font);
    color: var(--main-color-white);
}

.ant-switch.ant-switch-checked {
    background-color: #7a7a7a !important;
}


.ant-switch.ant-switch-checked .ant-switch-handle::before {
    background-color: var(--main-color-white) !important;
}


.ant-switch.ant-switch-checked .anticon-sun {
    color: var(--main-color-white) !important;
}